
.summary {
  display: flex;
  align-items: center;
  justify-content: center;

  .heading-label {
    margin-left: 1rem;
    font-size: 20px;
    font-weight: 500;
  }

  .user-image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
}

.label {
  font-size: 16px;
  color: rgb(158, 160, 160);
}

.celebrity-data {
  font-size: 16px;
  font-weight: 500 !important;
  display: flex;
  max-width:  '100%',

}
.input-field {
  max-width: 10rem;
  border: 1px solid rgb(158, 160, 160);
  border-radius: 9px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;

  &:focus {
    border: 1px solid rgb(133, 134, 134);
  }
}

.input-description {
  width: 100%;
  height: 5rem;
  border-radius: 9px;
  border: 1px solid rgb(158, 160, 160);
}

.tool-buttons{
    cursor: pointer;
   .tool-button1{
    transform: scale(1.3);
    color: red;

   }
   .tool-button2{
    transform: scale(1.3);
    color: rgb(43, 36, 81) ;

   }
}

.edit-buttons {
  cursor: pointer;

  .edit-button1 {
    border: 1.5px solid rgb(209, 18, 18);
    color: red;
    border-radius: 50%;
    padding: 1px;
    transform: scale(1.3);
  }
  .edit-button2 {
    border: 1.5px solid rgb(10, 195, 41);
    color: rgb(10, 195, 41);
    border-radius: 50%;
    padding: 1px;
    
    transform: scale(1.3);
  }
  .active-edit-button2 {
    border: 1.5px solid rgb(167, 167, 167);
    color: rgb(167, 167, 167);
    border-radius: 50%;
    padding: 1px;
    cursor: not-allowed;
    
    transform: scale(1.3);
  }
}
